.logo-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: lightgray;
    background-image: url(../img/revou.svg);
    background-size: cover;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}